@font-face {
  font-family: 'MyFont';
  src:  url('./m-plus-1p-v19-latin-regular.woff2') format('woff2'),
        url('./m-plus-1p-v19-latin-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.svg');
  }